.product{
    width: 30%;
    height: 25vh;
    margin: 20px 10px;
    border: solid 2px rgb(185, 181, 181);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.product-browser{
    height: 20px;
    background-color: rgb(128, 34, 34);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.product-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}
.product-img{
    width: 100%;
    transition: all 10s ease;
}
.product:hover .product-img{
    transform: translateY(-100%);
}